body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Vollkorn', serif;
    font-size: 1.1em;
    background-color: black;
    color: white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.url {
    position: absolute;
    font-size: 1.2em;
    color: rgba(255, 255, 255, 0.4);
    padding: 10px;
    top: 0;
    right: 0;
}

#typed-text {
    margin: 5px;
    padding: 5px;
    white-space: pre;
    font-size: 3em;
}

#typed-text h1 {
    white-space: pre;
    font-size: 3.5em;
}

.mainDisplay {
    text-align: center;
}

.mainDisplay p {
    font-size: 1.2em
}

.main-display .url {
    font-size: 1.5em
}

#nexus-overlay {
  display: block;
  font-size: 1.0em;
  text-align: center;
}

#map {
  display: none;
  width: 100vw;
  height: 100vh;
}

#controller-title {
  font-size: 2.0em;
}

#controller-messages {
  display: none;
  position: absolute;
  font-size: 1.2em;
  color: rgba(255, 255, 255, 0.6);
  padding: 10px;
  top: 0;
  left: 0;
}
#controller-message {
  padding: 10px;
}

#controller-instruction {
  padding: 10px;
}

.end-display {
    display: none;
}

#causeway-text span {
    display: inline-block;
}

.symbol {
    -webkit-filter: blur(9px);
    filter: blur(9px);
    opacity: 0.5;
    font-size: 1.5em;
}

small {
    font-size: 0.5em;
}

.phrase {
    -webkit-filter: blur(9px);
    filter: blur(9px);
    opacity: 0.5;
    border-bottom: 0.2em solid black;
    padding: 0.1em;
}


.blur {
  filter: blur(2px);
}

.blurBlur {
  filter: blur(50px);
  /* animation: pulsate-fwd 2s ease-in-out 0.5s 10 both; */
}

.nexusOverlay {
  margin: 0px;
  padding: 0px;
  text-align: center;
  height: 100%;
}

.overlayContent {
  /* background-color: rgba(253, 240, 223, 0.77);
  color: #460000;
  font-size: 1.5em;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  margin-bottom: 0.5em;
  width: 96%;
  height: 30%; */
  text-align: center;
  display: block;
    justify-content: center;
    align-items: center;
}

#star-field {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 15;
  background-color: rgba(36, 1, 1, 0.623);
}

.star {
  font-size: 2em;
  width: 5%;
  height: 5%;
  position: absolute;
}

.starfieldOn {
  display: block;
}

#cover-blur {
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(50,0,0,0.6);
}

.coverOn {
  display: block;
}

#control-blur {
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  display: none;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 50%;
  z-index: 9;
  background-color: rgba(50,0,0,0.6);
}

.controlOn {
  display: block;
}


.fade-in {
	-webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/* set the default transition time */
:root {
  --animation-time: 2s; 
}

.star-slide {
	-webkit-animation: star-slide 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) infinite both;
	        animation: star-slide 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) infinite both;
}




@-webkit-keyframes zoomInUp {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
        transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
        transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
    100% {
        opacity: 1;
    }
}

@keyframes zoomInUp {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
        transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
        transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
    100% {
        opacity: 1;
    }
}

.clicked {
    -webkit-animation-name: zoomInUp;
    animation-name: zoomInUp;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    -webkit-filter: blur(50px);
}



/**
 * ----------------------------------------
 * animation pulsate-fwd
 * ----------------------------------------
 */

 @-webkit-keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/**
 * ----------------------------------------
 * animation rotate-center
 * ----------------------------------------
 */
 @-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2019-11-24 15:13:41
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation spinner-center
 * ----------------------------------------
 */
 @-webkit-keyframes spinner-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spinner-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/**
 * ----------------------------------------
 * animation text-blur-out
 * ----------------------------------------
 */
 @-webkit-keyframes blur-out {
  0% {
    -webkit-filter: blur(0.01);
            filter: blur(0.01);
  }
  100% {
    -webkit-filter: blur(12px) opacity(0%);
            filter: blur(12px) opacity(0%);
  }
}
@keyframes blur-out {
  0% {
    -webkit-filter: blur(0.01);
            filter: blur(0.01);
  }
  100% {
    -webkit-filter: blur(12px) opacity(0%);
            filter: blur(12px) opacity(0%);
  }
}

/**
 * ----------------------------------------
 * animation text-blur-out
 * ----------------------------------------
 */
 @-webkit-keyframes blurry {
  0% {
    -webkit-filter: blur(0.01);
            filter: blur(0.01);
  }
  100% {
    -webkit-filter: blur(50px) opacity(80%);
            filter: blur(50px) opacity(80%);
  }
}
@keyframes blurry {
  0% {
    -webkit-filter: blur(0.01);
            filter: blur(0.01);
  }
  100% {
    -webkit-filter: blur(50px) opacity(80%);
            filter: blur(50px) opacity(80%);
  }
}

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
 @-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/**
 * ----------------------------------------
 * animation star-slide
 * ----------------------------------------
 */
 @-webkit-keyframes star-slide {
  0% {
    -webkit-transform: translateZ(0) translateY(0) translateX(0);
            transform: translateZ(0) translateY(0) translateX(0);
  }
  100% {
    -webkit-transform: translateZ(160px) translateY(-100px) translateX(-100px);
            transform: translateZ(160px) translateY(-100px) translateX(-100px);
  }
}
@keyframes star-slide {
  0% {
    -webkit-transform: translateZ(0) translateY(0) translateX(0);
            transform: translateZ(0) translateY(0) translateX(0);
  }
  100% {
    -webkit-transform: translateZ(160px) translateY(-100px) translateX(-100px);
            transform: translateZ(160px) translateY(-100px) translateX(-100px);
  }
}
