html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  margin: 0;
  /* padding-left: 1.0em; */
  /*	display: flex;
	align-items: center;
	justify-content: center;*/
  font-family: "Ubuntu", sans-serif;
  font-size: 1.0em;
  /*overflow: hidden;*/
  /*position: fixed;*/
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #460000;
  color: #C37F00;
  text-align: center;
}

.nexusOverlay {
  display: block;
}

.mainDisplay {
  margin: 0px;
  padding: 0px;
  display: none;
  text-align: center;
  height: 100%;
}

.endDisplay {
  display: none;
  text-align: center;
}

.display {
  display: block;
  text-align: center;
  height: 100%;
}

.display p {
  font-size: 1.0em;
}

.display .url {
  font-size: 1.5em;
}

#header {
  font-size: 3.0em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

#message {
  background-color: rgba(253, 240, 223, 0.77);
  color: #460000;
  font-size: 1.5em;
  padding: 10px;
  border-radius: 10px;
  margin-top: 0.5em;
  margin-bottom: 1em;
  width: 90%;
  height: 30%;
  text-align: center;
  display: flex;
    justify-content: center;
    align-items: center;
}

#controlCenter {
  margin: 0px;
  padding: 0px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#instruction {
  background-color: rgba(253, 240, 223, 0.77);
  color: #460000;
  font-size: 1em;
  padding: 10px;
  border-radius: 10px;
  margin-top: 0.5em;
  margin-bottom: 1em;
  width: 50%;
  height: 20%
  text-align: center;
  display: flex;
    justify-content: center;
    align-items: center;
}

#recordOrbitSVG {
  margin: 0px;
  height: 30%;
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


#waveform {
  height: 20%;
  width: 100%;
}

.waveform {
  height: 10%;
  width: 96%;
}

.audiotag {
  display: none;
}

#footer {
  font-size: 1em;
  text-align: left;
  justify-content: center;
  margin: 0px;
  height: 10%;
}

.controls {
  /* float: left; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#sectionSelector,#slider,#loadLaunch,#enableRecord,#enableTouch,#enableLoop {
  display: block;
  /* float: left; */
}

#sliderWrapper {
  width: auto;
  text-align: center;
  justify-content: center;
}

#slider {
  display: block;
  margin-left: auto;
  margin-right: auto
}

#seatMap {
  /* background-color: rgba(253,240,223,77); */
}

.symbol {
  font-size: 2.0em;
}

small {
  font-size: 0.5em;
}

#samples {
  /* float: left; */
  display: flex;
  flex-wrap: wrap;
  /* justify-content: left; */
  width: 100%;
}

.userSample {
  height: 20%;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: left; */
}

.userSampleControls {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  /* width: fit-content; */
}

.pulsate-fwd {
  -webkit-animation: pulsate-fwd 2s ease-in-out 0.5s 10 both;
  animation: pulsate-fwd 2s ease-in-out 0.5s 10 both;
}


/* ----------------------------------------------
 * Generated by Animista on 2019-11-14 22:27:49
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */


/**
 * ----------------------------------------
 * animation pulsate-fwd
 * ----------------------------------------
 */

@-webkit-keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}