html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  margin: 0;
  /* padding-left: 1.0em; */
  /*	display: flex;
	align-items: center;
	justify-content: center;*/
  font-family: "Ubuntu", sans-serif;
  font-size: 1.0em;
  /*overflow: hidden;*/
  /*position: fixed;*/
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #320000;
  color: #C37F00;
  text-align: center;
  background-image: url(/data/redSwirl.jpg);
  background-size: cover;
}

.blur {
  filter: blur(3px);
}

.blurBlur {
  filter: blur(50px);
  /* animation: pulsate-fwd 2s ease-in-out 0.5s 10 both; */
}

.nexusOverlay {
  margin: 0px;
  padding: 0px;
  text-align: center;
  height: 100%;
}

.overlayContent {
  /* background-color: rgba(253, 240, 223, 0.77);
  color: #460000;
  font-size: 1.5em;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  margin-bottom: 0.5em;
  width: 96%;
  height: 30%; */
  text-align: center;
  display: block;
    justify-content: center;
    align-items: center;
}

.mainDisplay {
  margin: 0px;
  padding: 0px;
  display: none;
  text-align: center;
  height: 100%;
}

.endDisplay {
  display: none;
  text-align: center;
}

.display {
  display: block;
  text-align: center;
  height: 100%;
}

.display p {
  font-size: 1.0em;
}

.display .url {
  font-size: 1.5em;
}

#header {
  font-size: 3.0em;
  /* padding-top: 0.5em;
  padding-bottom: 0.5em;
  display: inline-flex;
  box-sizing: border-box;
  justify-content: center; */
}

.header {
  font-size: 3.0em;
  padding-top: 0em;
  padding-bottom: 0.5em;
  display: inline-flex;
  box-sizing: border-box;
  justify-content: center;
  width: 100%;
  /* height: 100%; */
}

.title {
  /* position: absolute; */
  display: block;
  padding-top: 1.0em;
  padding-bottom: 0.4em;
  left: 0px;
  right: 0px;
  /* top: 0px;
  bottom: 0px; */
}

.title-spinner {
  /* display: block; */
  position: absolute;
  /* float: left; */
  /* top: 0px;
  left: 0px; */
  margin: auto;
  /* margin-top: 0.2em; */
  padding-top: 0.3em;
  padding-bottom: 0em;
  width: 1em;
  height: 2.4em;
}

#message {
  background-color: rgba(253, 240, 223, 0.77);
  color: #460000;
  font-size: 1.5em;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  /* margin-top: 0.5em; */
  margin-bottom: 1.0em;
  width: 90%;
  height: 23%;
  text-align: center;
  display: inline-flex;
    justify-content: center;
    align-items: center;
}


#waveform {
  height: 22%;
  width: 100%;
}

.waveform {
  height: 10%;
  width: 96%;
}

.wavesurfer-handle {
  color: red;
}

.audiotag {
  display: none;
}


#controlCenter {
  margin: 0px;
  padding-top: 2.0em;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  height: 25%;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;
}

#instruction {
  /* background-color: rgba(253, 240, 223, 0.77);
  color: #460000; */
  /* background-color: rgba(20, 0, 0, 0.33); */
  /* color: rgba(253, 240, 223, 0.77); */
  color: #C37F00;
  font-size: 1.3em;
  padding: 1.0em;
  box-sizing: border-box;
  border-radius: 10px;
  margin-top: 0em;
  margin-bottom: 0em;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
    justify-content: center;
    align-items: center;
}

#recordOrbitSVG {
  margin: 0px;
  height: 90%;
  width: 90%;
  display: block;
  /* flex-wrap: wrap;
  justify-content: center; */
  user-select: none;
}

#recordOrbitSVG:hover:active {
  filter: blur(5px);
}

#playOrbitSVG {
  margin: 0px;
  height: 90%;
  width: 90%;
  display: none;
}


#footer {
  font-size: 1em;
  text-align: left;
  display: inline-grid;
  justify-content: center;
  align-items: end;
  margin: 0px;
  height: 5%;
}

.controls {
  /* float: left; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.testingControls {
    /* float: left; */
    display: none;
    flex-wrap: wrap;
    justify-content: center;
}

#sectionSelector,#slider,#loadLaunch,#enableRecord,#enableTouch,#enableLoop {
  display: block;
  /* float: left; */
}

#sliderWrapper {
  width: auto;
  text-align: center;
  justify-content: center;
}

#slider {
  display: block;
  margin-left: auto;
  margin-right: auto
}

#seatMap {
  /* background-color: rgba(253,240,223,77); */
}

.symbol {
  font-size: 2.0em;
}

small {
  font-size: 0.5em;
}

#samples {
  /* float: left; */
  display: flex;
  flex-wrap: wrap;
  /* justify-content: left; */
  width: 100%;
}

.userSample {
  height: 20%;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: left; */
}

.userSampleLabel {

}

.userSampleControls {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  /* width: fit-content; */
}

.playUserSample {

}


.blurry {
	-webkit-animation: blurry 1.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: blurry 1.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.blur-out {
	-webkit-animation: blur-out 1.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: blur-out 1.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.pulsate-fwd {
  -webkit-animation: pulsate-fwd 2s ease-in-out 0.5s 10 both;
  animation: pulsate-fwd 2s ease-in-out 0.5s 10 both;
}

.rotate-center {
	-webkit-animation: rotate-center 4s linear infinite both;
	        animation: rotate-center 4s linear infinite both;
}

.spinner-center {
	-webkit-animation: spinner-center 0.6s ease-in-out both;
	        animation: spinner-center 0.6s ease-in-out both;
}

/**
 * ----------------------------------------
 * animation pulsate-fwd
 * ----------------------------------------
 */

@-webkit-keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}



/**
 * ----------------------------------------
 * animation rotate-center
 * ----------------------------------------
 */
 @-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2019-11-24 15:13:41
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation spinner-center
 * ----------------------------------------
 */
 @-webkit-keyframes spinner-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spinner-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2019-11-24 17:1:15
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-blur-out
 * ----------------------------------------
 */
 @-webkit-keyframes blur-out {
  0% {
    -webkit-filter: blur(0.01);
            filter: blur(0.01);
  }
  100% {
    -webkit-filter: blur(12px) opacity(0%);
            filter: blur(12px) opacity(0%);
  }
}
@keyframes blur-out {
  0% {
    -webkit-filter: blur(0.01);
            filter: blur(0.01);
  }
  100% {
    -webkit-filter: blur(12px) opacity(0%);
            filter: blur(12px) opacity(0%);
  }
}

/**
 * ----------------------------------------
 * animation text-blur-out
 * ----------------------------------------
 */
 @-webkit-keyframes blurry {
  0% {
    -webkit-filter: blur(0.01);
            filter: blur(0.01);
  }
  100% {
    -webkit-filter: blur(50px) opacity(80%);
            filter: blur(50px) opacity(80%);
  }
}
@keyframes blurry {
  0% {
    -webkit-filter: blur(0.01);
            filter: blur(0.01);
  }
  100% {
    -webkit-filter: blur(50px) opacity(80%);
            filter: blur(50px) opacity(80%);
  }
}

